{{ define "HEADER" }}<html>
<head>
<title>bommom</title>
<link rel="stylesheet" type="text/css" href="/static/default.css"></link>
<!-- Start Mozilla Persona Code -->
<script src="/static/include.js"></script>
<script>
function login() {
    navigator.id.get(function(assertion) {
        if (assertion) {
            var assertion_field = document.getElementById("assertion-field");
            assertion_field.value = assertion;
            var login_form = document.getElementById("login-form");
            login_form.submit();
        }
    });
}
</script>
<!-- End Mozilla Persona Code -->
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">bommom.com</a>
      {{ range .BreadCrumbs }} / {{.}} {{end}}
      <div class="nav-collapse collapse">
        {{ if .Session.UserName }}
        <p class="navbar-text pull-right">
            <a href="/account/logout/"><button class="btn btn-mini" type="button" style="margin-left: 15px; margin-top:9px;">Log out!</button></a>
        </p>
        <p class="navbar-text pull-right">
            logged in as {{ .Session.UserName }}
        </p>
        {{ else }}
        <p class="navbar-text pull-right">
            <a href="/account/login/"><button class="btn btn-mini" type="button" style="margin-top: 9px;">Log in!</button></a>
        </p>
        {{ end }}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<br><br>

<div class="container-fluid">
  <div class="row-fluid">
{{ end }}
{{ define "FOOTER" }}
  </div>
</div>
</body>
</html>{{ end }}

{{ define "BOM_INFO" }}
<div class="well well-small">
    <dl class="dl-horizontal" style="margin: 0px;">
    <dt>Owner: </dt><dd>{{ .BomMeta.Owner }}</dd>
    {{ if .BomMeta.Homepage }}<dt>Homepage: </b>{{ .BomMeta.Homepage }}</dd>{{ end }}
    {{ if .BomMeta.Description }}<dt>Description: </dt><dd>{{ .BomMeta.Description }}</dd>{{ end }}
    <dt>Version: </dt><dd>{{ .BomMeta.HeadVersion }} (at head)</dd>
    <dt>Created: </dt><dd>{{ .Bom.Created }}</dd>
    {{ if .Bom.Progeny}}<dt>Source: </dt><dd>{{ .Bom.Progeny }}</dd>{{ end }}
    </dl>
</div>
{{end}}

