{{ template "HEADER" . }}
{{ if .BomMeta }}

<h1>{{ .BomMeta.Name }} is a bom.</h1>
{{ template "BOM_INFO" . }}
<hr>

{{ else }}

<h1>{{ .name }} could be a bom.</h1>
<b>Owner: </b>{{ .user }}<br>
<hr>

{{ end }}

{{ if .error }}<h3 style="color:red;">{{ .error }}</h3>{{ end }}
<form enctype="multipart/form-data" method="POST" target=".">
<b>Version: </b><input name="version" type="text" value="{{ .version }}"></input><br>
<b>Created: </b>now!<br>
<input type="file" name="bomfile" accept="application/json,application/xml,text/csv"></input><br>
<input type="submit" value="Upload"></input>
</form>

{{ template "FOOTER" . }}
