{{ template "HEADER" . }}
<h1>{{ .BomMeta.Name }} is a bom.</h1>
<a href="./_upload/"><button class="btn btn-mini">upload new</button></a>
<br>
<br>
{{ template "BOM_INFO" . }}
<table class="table table-hover table-condensed" style="font-size: smaller;">
<tr>
  <th>qty
  <th>elements
  <th>manufacturer
  <th>mpn
  <th>description
  <th>form_factor
  <th>specs
  <th>category
  <th>tag
  <th>comment
</tr>
{{ range .Bom.LineItems }}
<tr>
  <td>{{ len .Elements }}
  <td>{{ range .Elements }}{{ if . }}{{ . }} {{ end }}{{ end }}
  <td>{{ .Manufacturer }}
  <td>{{ .Mpn }}
  <td>{{ .Description }}
  <td>{{ .FormFactor }}
  <td>{{ .Specs }}
  <td>{{ .Category }}
  <td>{{ .Tag }}
  <td>{{ .Comment }}
</tr>
{{ end }}
</table>
{{ template "FOOTER" . }}
